# Игнорируем все папки, кроме app и static
!app/
!static/

# Игнорируем все файлы, кроме .py и .md
*.*
!*.py
!*.md

# Игнорируем папку logs и любые временные файлы
logs/
*.tmp
*.log

# Игнорируем файлы конфигурации и среды разработки
.vscode/
.env
.idea/

# Игнорируем выходные файлы сборки
*.pyc
__pycache__/
