html, body, #cover {
    height: 345mm;
    margin: 0;
    font: 20px Serif;
    -webkit-box-sizing: border-box;
}

#cover {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#header {
    height: 40mm;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    border: 1px solid black;
    margin-bottom: 5mm;
}

#content {
    display: -webkit-box;
    margin-bottom: 5mm;
}

#left_col,
#right_col {
    -webkit-box-flex: 1;
}

#right_col .row {
    text-align: right;
}

.brow {
    font-weight: bold;
}

.line {
    height: 5mm;
    border-bottom: 1px solid black;
    margin-bottom: 5mm;
}

.splitter {
    -webkit-box-flex: 1;
}

#footer {
    display: -webkit-box;
    height: 40mm;
    border-left: 1px solid black;
}

.fcell {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-flex: 1;
    border: solid black;
    border-width: 1px 1px 1px 0;
}

.signature-box {
    height: 20mm;
    border-top: 1px solid black;
    text-align: center;
    margin-top: 10mm;
}